<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="regDomain1" value="617AF073E825D6A8F6BD8AF71B838D34" />
    <add key="regDomain2" value="8BB4A8CBD6B50770AB10723227D7075F94AA22A53EB9A3CD" />
    <add key="regDomain3" value="D8FFE52C83CC71EC770D8B05B402981B" />
    <add key="regDomain4" value="5DB7B86AD15BCCAFACB4940F21F10034" />
    <add key="metaFilePath" value="E:\metadata\" />
	<add key="metaImagePath" value="E:\metaImage\" />
	<add key="soundMediaFileType" value="6" />
    <add key="mailHost" value="localhost" />
    <add key="mailHostPort" value="25" />
    <add key="mailAuth" value="false" />
    <add key="mailAccount" value="" />
    <add key="mailPassword" value="" />
    <add key="mailSenderName" value="央廣典藏" />
    <add key="mailSenderEmail" value="chiang@rti.org.tw" />
  </appSettings>
  <connectionStrings>
    <!--<add name="siteConnectionString" connectionString="Data Source=localhost;Initial Catalog=rtidb;Integrated Security=false;" providerName="System.Data.SqlClient" />-->
  <add name="siteConnectionString" connectionString="data source=localhost;initial catalog=rtidb;integrated security=true;"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="service@servehttp.com">
        <network host="localhost" userName="" password="" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <sessionState mode="StateServer" stateConnectionString="tcpip=localhost:42424" cookieless="false" timeout="60" />
    <customErrors mode="Off" defaultRedirect="~/index.aspx">
      <error statusCode="404" redirect="~/index.aspx" />
    </customErrors>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="10240" executionTimeout="300" />
    <!--KBytes-->
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation debug="true" batch="true" maxBatchGeneratedFileSize="10000" maxBatchSize="10000" targetFramework="4.0" strict="false" explicit="true">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <globalization culture="zh-TW" uiCulture="zh-TW" />
    <pages clientIDMode="AutoID" enableViewStateMac="true" enableEventValidation="false" validateRequest="false">
      <namespaces>
        <add namespace="BaseLibrary" />
      </namespaces>
    <controls>
      <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" /></controls>
    </pages>
  <httpHandlers>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" /></httpHandlers>
  <httpModules>
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" />
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" /></httpModules>

    
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="10485760" />
        <!--Bytes-->
      </requestFiltering>
    </security>
    <httpErrors errorMode="Custom" existingResponse="Auto">
      <remove statusCode="404" subStatusCode="13" />
      <error statusCode="404" subStatusCode="13" prefixLanguageFilePath="" path="http://develope.servehttp.com/oops.aspx?type=FileSizeExceeded" responseMode="Redirect" />
    </httpErrors>
    <defaultDocument>
      <files>
                <clear />
                <add value="index.aspx" />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
    </defaultDocument>
  <modules runAllManagedModulesForAllRequests="true">
      <remove name="RadUploadModule" />
      
      <remove name="RadCompression" /><add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" preCondition="integratedMode" />
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" preCondition="integratedMode" /></modules>
  <handlers>
      <remove name="ChartImage_axd" />
      
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <remove name="Telerik_Web_UI_WebResource_axd" /><add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" /></handlers>
        <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>